@media (min-width: 992px) {
  h1{
    font-weight: 900;
    font-size: 45px !important;
  }

}

.progress{
  background-color:#C3A461 !important;
}

button[disabled]{
  cursor: no-drop !important;
  opacity: .4 !important;
}
button[disabled]:hover{
  background-color: transparent !important;
}